<!DOCTYPE html>
html
    head
        - var page = { title: 'Главная' }
        include inc/head.pug
    body
        .wrapper
            include inc/header.pug
            include inc/index/content.pug
            include inc/scripts.pug
