-var main_menu=['Неон - это?','Ассортимент','Блоки и аксессуары','Видео', 'Прайс'];
-var ankor=['about_neon','assortiment','bloks','video'];

header
    .container

        .header_row
            .h_left
                .mm_btn
                    button.hamburger
                        span
                        span
                        span
                .logo
                    a(href="#")
                        img.desktop_logo(src="img/logocut1.png")
                        img.mobile_logo(src="img/mobile_logo.png")

            .h_right
                .main_menu
                    .mm_close
                    ul.nav
                        for item, index in main_menu
                            li
                                a(href="#"+ankor[index]+"")=item
                .phone
                    a.phone_link(href="tel:+375 33 333 33 33") +375 33 333 33 33




